/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Jul, 2020, 4:27:16 PM
    Author     : deepak
*/

p {
    text-align: justify;
}

hr {
    margin-bottom: 50px;
}